.branco
{
	color: white !important;
}

.mainP{
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#ptEnt
{
	width: 100px;
	height: 35px;
	background: url(../img/ptFlag.png) no-repeat;
	background-color: black;
	background-position: 8px 1px;
	background-size: 80px 30px;
	opacity: 0.5;
}

#enEnt
{
	width: 100px;
	height: 35px;
	background: url(../img/enFlag.png) no-repeat;
	background-color: black;
	background-position: 8px 1px;
	background-size: 80px 30px;
	opacity: 0.5;
}

#esEnt
{
	width: 100px;
	height: 35px;
	background: url(../img/esFlag.png) no-repeat;
	background-color: black;
	background-position: 8px 1px;
	background-size: 80px 30px;
	opacity: 0.5;
}

#ptEnt:hover, #enEnt:hover, #esEnt:hover{
	opacity: 0.9;
}

#wifi
{
	height: 100px;
	width: 100px;
	border: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: white url(../img/wifi.png) no-repeat;
}

#parking
{
	height: 100px;
	width: 100px;
	border: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: white url(../img/parking.png) no-repeat;
}

#buggies
{
	height: 100px;
	width: 100px;
	border: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: white url(../img/buggies.png) no-repeat;
}

#kitesurfing
{
	height: 100px;
	width: 100px;
	border: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: white url(../img/kitesurfing.png) no-repeat;
}

#gallery 
{
	margin-left: auto;
	margin-right: auto;
}